// Colors: Neutrals
$black:				#131214;
$grey-darkest:		#353333;
$grey-dark:			#565658;
$grey-medium:		#868586;
$grey-light:		#c0bfbf;
$grey-lightest:		#eaecec;
$white-off:			#f8f8f8;
$white:				#ffffff;

// Messages and Alerts
$success:		#4F894B;
$info:			#3C99B5;
$warning:		#CEA04A;
$danger:		#B5423C;

// Board Theme
$boardBg: #6BBF5E;
$tileHover: $white;
$tileHoverPlayer: $white;
$tileHoverOpponent: $danger;
$tileActive: #0fc;