// Spacing
$space:			16px;
$space-xs:		$space/4;
$space-sm:		$space/2;
$space-md:		$space*1.5;
$space-lg:		$space*2.5;
$space-xl:		$space*3;
$space-xxl:		$space*5;
$space-xxxl:	$space*7;

// Font Size
$font-size-std:      1rem;
$font-size-xs:       $font-size-std*.75;
$font-size-sm:       $font-size-std*.875;
$font-size-md:       $font-size-std*1.2;
$font-size-lg:       $font-size-std*1.45;
$font-size-xl:       $font-size-std*1.65;
$font-size-xxl:      $font-size-std*2;
$font-size-xxxl:     $font-size-std*2.5;