// Spacing
$space:			16px;
$space-xs:		$space/4;
$space-sm:		$space/2;
$space-md:		$space*1.5;
$space-lg:		$space*2.5;
$space-xl:		$space*3;
$space-xxl:		$space*5;
$space-xxxl:	$space*7;

// Font Size
$font:          1rem;
$font-xs:       $font*.75;
$font-sm:       $font*.875;
$font-md:       $font*1.2;
$font-lg:       $font*1.45;
$font-xl:       $font*1.65;
$font-xxl:      $font*2;
$font-xxxl:     $font*2.5;